<div class="widget-next-match">
  <table class="table custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Foundation</th>
        <th>Stadium</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let team of teams'>
        <td>{{team.id}}</td>
        <td>{{team.name}}</td>
        <td><strong class="text-white">{{team.country}}</strong></td>
        <td>{{team.foundation}}</td>
        <td>{{team.stadium}}</td>
        <td><button class="btn btn-success" (click)="goToTeam(team.id)">Display</button></td>
        <td><button class="btn btn-info">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>


      </tr>

    </tbody>
  </table>
</div>
