<div class="widget-next-match">
  <table class="table custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Score 1</th>
        <th>Score 2</th>
        <th>Logo 1</th>
        <th>Logo 2</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let match of matches'><!-- équiv. foreach(match as matches)-->
        <td>{{match.id}}</td>
        <td>{{match.teamOne}}</td>
        <td>{{match.teamTwo}}</td>
        <td><strong class="text-white">{{match.scoreOne}}</strong></td>
        <td><strong class="text-white">{{match.scoreTwo}}</strong></td>
        <td><img src="assets/images/{{match.logoOne}}" alt="Image" class="img-fluid" width="50px" height="50px"></td>
        <td><img src="assets/images/{{match.logoTwo}}" alt="Image" class="img-fluid" width="50px" height="50px"></td>
        <!-- <td><button class="btn btn-success" (click)="salutations(match.id)">Display</button></td> -->
        <td><button class="btn btn-success" (click)="goToMatch(match.id)">Display</button></td>
        <td><button class="btn btn-info">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>

    </tbody>
  </table>
</div>



