<div class="widget-next-match">
  <table class="table custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Poste</th>
        <th>N°</th>
        <th>Age</th>
        <th>Description</th>
        <th colspan="3">Détails</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let player of players'>
        <td>{{player._id}}</td>
        <td>{{player.name}}</td>
        <td><strong class="text-white">{{player.poste}}</strong></td>
        <td>{{player.numero}}</td>
        <td>{{player.age}}</td>
        <td>{{player.description}}</td>
        <td><button class="btn btn-success" (click)="goToPlayer(player._id)">Display</button></td>
        <td><button class="btn btn-info" (click)='goToEditPlayer(player._id)'>Edit</button></td>
        <td><button class="btn btn-danger" (click)='deletePlayer(player._id)'>Delete</button></td>

      </tr>

    </tbody>
  </table>
</div>

