<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 mx-auto text-center">
        <h1 class="text-white">Ajouter un match</h1>
      </div>
    </div>
  </div>
</div>


<div class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6" style="margin:auto;">
        <form #formMatch="ngForm" (ngSubmit)='addMatch()'>

          <div class="form-group">
            <input type="number" [(ngModel)]="match.scoreOne" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Score 1">
          </div>
          <div class="form-group">
            <input type="number" [(ngModel)]="match.scoreTwo" [ngModelOptions]="{standalone:true}"class="form-control" placeholder="Score 2">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="match.teamOne" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Equipe 1">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="match.teamTwo" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Equipe 2">
          </div>
          <div class="form-group">
          <input type="text" [(ngModel)]="match.logoOne" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Logo One" id="">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="match.logoTwo" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Logo Two" id="">
            </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary py-3 px-5" value="Ajouter">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


